body::after {
    z-index: 9998;
    content: "";
    position: fixed;
    width: 100%;
    height: 5000px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
}

body.on::after {
    display: block;
}

.swiper {
    padding: 10px;
}

.swiper-wrap {
    position: relative;
}

.main-content {
    width: 100%;
    height: 100vh;
}

.main-content h2 {
    font-size: 24px;
    color: var(--point-color);
}

.main-content strong {
    display: block;
    padding-top: 30px;
    line-height: 48px;
    color: #000;
    font-family: 'AppleSDGothicNeoB', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.main-content h2 span {
    color: var(--point-color);
}

.mouse-scroll {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    color: #fff;
}

.mouse-scroll img {
    display: block;
    width: 25px;
    margin: auto;
    padding-top: 12px;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
    box-shadow: 3px 3px 10px #c8c8c8;
}

.swiper-pagination-bullet-active {
    background: var(--point-color);
}

/*main-visual*/
#main-visual {
    z-index: -2;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/main/visual/main-visual-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%;
}

#main-visual::after {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
}

#main-visual .wrap {
    position: relative;
}

#main-visual .wrap-inner {
    z-index: 1;
    position: absolute;
    left: 100px;
}

#main-visual h2 {
    margin-top: 100px;
    line-height: 60px;
    color: #fff;
    font-size: 51px;
    text-shadow: 2px 2px 2px black;
}

#main-visual .about {
    margin-top: 54px;
    line-height: 25px;
    font-size: 21px;
    color: #fff;
}

#main-visual .profile {
    margin-top: 200px;
    font-size: 16px;
    color: #fff;
}

#main-visual .profile ul {
    gap: 10px;
    color: #000;
}

#main-visual .profile li {
    width: 98px;
    height: 34px;
    margin-top: 14px;
    line-height: 34px;
    box-sizing: content-box;
    border-radius: 100px;
    text-align: center;
    border: 3px solid var(--point-color);
    color: #000;
    font-weight: bold;
    background: #fff;
}

/*history*/
#main-history {
    position: relative;
    color: var(--point-color);
    background: url(../images/main/history/main-history-bg.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#main-history strong {
    width: 300px;
}

#main-history .swiper-wrap {
    position: relative;
    width: 755px;
    height: 350px;
    margin-right: 30px;
    align-self: center;
}

#main-history .swiper {
    top: 0;
    left: -50px;
    width: 100%;
    height: 100%;
}

#main-history .swiper-slide {
    width: 234px;
    height: 327px;
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 27px;
    box-shadow: 3px 3px 10px #c8c8c8;
}

#main-history .swiper-slide p {
    width: 100%;
    height: 74px;
    line-height: 74px;
    border-bottom: 1px solid var(--point-color);
    font-weight: bold;
    font-size: 32px;
}

#main-history .swiper-slide ul {
    margin-top: 30px;
    color: #000;
    line-height: 30px;
    text-align-last: left;
    font-weight: bold;
}

#main-history .swiper-button {
    z-index: 500;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: #c8c8c8;
    width: 85px;
    height: 85px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    box-shadow: 3px 3px 10px #c8c8c8;
}

#main-history .swiper-button-prev1 {
    left: -100px;
}

#main-history .swiper-button-next1 {
    right: 0px;
}

/*product*/
#product {
    background: var(--product-bg);
}

#product .wrap {
    position: relative;
    background: var(--product-bg);
}

#product h2 {
    width: 564px;
    margin-bottom: 38px;
}

#product .mySwiper-2 {
    margin-left: 78px;
    width: 916px;
    height: 360px;
}

#product .swiper-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    width: 211px;
    height: 294px;
    border-radius: 20px;
    font-weight: bold;
    background: #fff;
    box-shadow: 3px 3px 10px #c8c8c8;

}

#product .swiper-slide img {
    height: 142px;
    object-fit: contain;
}

#product .swiper-slide p {
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    border-top: 2px solid #c8c8c8;
    width: 184px;
    height: 50px;
    line-height: 20px;
}

#product .swiper-button {
    z-index: 101;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #c8c8c8;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    box-shadow: 3px 3px 10px #c8c8c8;
}

#product .swiper-button-prev2 {
    left: 50px;
}

#product .swiper-button-next2 {
    right: 55px;
}

/*search*/
.search {
    position: absolute;
    left: 5px;
    top: -45px;
    width: 36px;
    height: 36px;
}

.search a {
    width: 100%;
    display: block;
}

#product .search img {
    width: 35px;
    object-fit: contain;
}

/*catalog*/
.catalog {
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 25;
}

.catalog h3 {
    font-weight: bold;
}

.catalog ul {
    margin-top: 10px;
    gap: 5px;
    font-size: 16px;
}

.catalog ul li {
    width: 100px;
    height: 34px;
    line-height: 34px;
    border-radius: 100px;
    text-align: center;
    box-sizing: content-box;
    border: 4px solid var(--point-color);
    background: white;
}

#product .mouse-scroll {
    bottom: 20px;
}

/*popup*/
.popup {
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 823px;
    height: 573px;
    border-radius: 40px;
    background: #fff;
    display: none;
}

.popup.on {
    display: block;
}

.popup-inner {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.popup button,
.popup-install-form button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 100%;
    background: var(--point-color);
}

.popup-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 456px;
    border: 1px solid #c8c8c8;
    border-radius: 40px;
}

#product .popup-image img {
    height: 300px;
}

.popup-text {
    width: 375px;
    height: 483px;
}

.popup-text h3 {
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #000;
    text-align: right;
}

.popup-text p {
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #000;
    text-indent: 10px;
}

.popup-text span {
    display: inline-block;
    margin-right: 10px;
    width: 120px;
    text-align-last: left;
    color: var(--point-color);
    font-weight: bold;
}

/*biz-H*/
#bizH {
    position: relative;
    background: url(../images/main/bizH/bizH-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%;
}

#bizH h2 {
    color: #000;
}

.leaflet {
    margin-top: 280px;
    color: #fff;
    font-size: 16px;
}

.leaflet p {
    width: 98px;
    height: 34px;
    margin-top: 14px;
    line-height: 34px;
    box-sizing: content-box;
    border-radius: 100px;
    text-align: center;
    border: 3px solid var(--point-color);
    color: #000;
    font-weight: bold;
    background: #fff;
}

/*hello-B*/
#helloB {
    position: relative;
    background: url(../images/main/helloB/hellob-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%;
}

#helloB strong {
    color: #fff;
}

/*hello-charger*/
#hello-charger {
    position: relative;
    background: url(../images/main/hello-charger/hello-charger-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%;
}

#hello-charger h2,
#hello-charger strong {
    color: #fff;
}

#hello-charger .leaflet {
    margin-top: 320px;
}

/*our-merit*/
#our-merit {
    position: relative;
    background: #000;
}

#our-merit .wrap-inner {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#our-merit .wrap-inner h2 {
    font-size: 40px;
    /*기존 글씨가 너무 안보여서 #000에서 #fff로 변경하였습니다.*/
    color: #fff;
}

#our-merit .wrap-inner ul {
    justify-content: space-between;
    margin-top: 60px;
    gap: 14px;
}

#our-merit .wrap-inner li {
    width: 200px;
    height: 310px;
    border-radius: 27px;
    text-align: center;
    background: #dbe6ee;
}

#our-merit .wrap-inner li img {
    margin-top: 30px;
}

#our-merit .wrap-inner li h3 {
    margin-top: 30px;
    font-size: 23px;
    font-weight: 800;
}

#our-merit .wrap-inner li p {
    line-height: 21px;
    font-size: 15px;
    letter-spacing: -50;
    margin-top: 26px;
    font-weight: 600;
    font-family: "NanumBarunGothic", "nanumgothic", Tahoma, sans-serif;
}

/*technology*/
#technology {
    position: relative;
    background: #d7d7d3;
}

#technology h2 {
    color: #000;
}

#technology strong {
    padding-top: 20px;
}

.technology-content {
    padding-top: 20px;
    width: 100%;
    height: 480px;
    text-align: center;
    position: relative;
    overflow-x: scroll;
}

.technology-content::-webkit-scrollbar {
    height: 5px;
}

.technology-content::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
}

.technology-content::-webkit-scrollbar-thumb {
    background: #fff;
}

.technology-content img {
    height: 300px;
    left: -100px;
    position: absolute;
}

.technology-content h3 {
    margin-top: 300px;
    padding: 15px 0;
    font-size: 28px;
    font-weight: bold;
}

.technology-content ul {
    gap: 40px;
}

.technology-content ul li {
    flex-shrink: 0;
    width: 260px;
    line-height: 21px;
}

/*hello station*/
#hello-station {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--hello-station-bg);
}

#hello-station .wrap {
    position: relative;
}

#hello-station .hello-station-title {
    padding: 70px 0 0 108px;
}

#hello-station h2 {
    width: 682px;
}

.hello-station-list {
    margin: 35px 0 45px;
    gap: 14px;
    font-weight: bold;
}

.hello-station-navi {
    width: 136px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    background: #fff;
}

.hello-station-navi.active {
    background: #aeaeae;
}

.hello-station-slide {
    display: none;
}

.hello-station-slide.on {
    display: block;
}

#hello-station .slick-track {
    left: 20.5%;
}

#hello-station .slick-slide {
    width: 268px;
    height: 294px;
    margin-left: 120px;
}

#hello-station .slick-slide img {
    width: 100%;
    height: 100%;
}

#hello-station .slick-arrow {
    z-index: 500;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    width: 78px;
    height: 78px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    border: none;
    box-shadow: 3px 3px 10px #c8c8c8;
}

#hello-station .slick-prev {
    left: 26%;
}

#hello-station .slick-next {
    right: 26%;
}

.slick-arrow::before {
    font-family: xeicon;
    color: #c8c8c8;
}

.slick-prev::before {
    content: "\e93b";
    font-size: 50px;
}

.slick-next::before {
    content: "\e93e";
    font-size: 50px;
}

#hello-station .slick-dots {
    margin-top: 20px;
    text-align: center;
}

#hello-station .slick-dots li {
    display: inline-block;
    margin-right: 14px;
}

#hello-station .slick-dots li~li {
    margin-right: 14px;
}

#hello-station .slick-active button {
    background: var(--point-color);
}

#hello-station .slick-dots button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 100%;
    font-size: 0;
}

/*inquiry*/
#inquiry {
    position: relative;
    background: #dedddd;
}

#inquiry ul {
    gap: 38px;
    margin-top: 80px;
    text-align: center;
}

#inquiry li {
    position: relative;
    width: 176px;
    height: 324px;
}

#inquiry li~li::before {
    content: url(../images/main/inquiry/arrow.png);
    position: absolute;
    left: -38px;
    top: 40%;
    transform: translateY(-50%);
}

#inquiry .leaflet {
    margin-top: 0;
    justify-content: center;
}

#inquiry .leaflet p {
    width: 128px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

#inquiry li h3 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: var(--point-color);
}

#inquiry li strong {
    font-size: 20px;
}

#inquiry li p {
    line-height: 25px;
    font-size: 15px;
}

.popup-install-form {
    display: none;
    z-index: 9999;
    position: fixed;
    width: 1000px;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.popup-install-form.on {
    display: block;
}